<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/seven.css' 
</head>
<body>
    <h1>CLUBS</h1>
    <div class="container">
        <div class="card">
          <img src="/images/person1.png" alt="Person 1">
          <a href="/eleven">ALGORITHMUS</a>
        </div>
    
        <div class="card">
          <img src="/images/person2.png" alt="Person 2">
          <a href="/eleven">CODEBASE</a>
        </div>
    
        <div class="card">
          <img src="/images/person3.jpg" alt="Person 3">
          <a href="/eleven">CYPH3R</a>
        </div>
        
        <div class="card">
          <img src="/images/person4.png" alt="Person 4">
          <a href="/eleven">DEVELOPER STUDENT CLUBS</a>
        </div>
    
        <div class="card">
          <img src="/images/person5.png" alt="Person 5">
          <a href="/eleven">INCOGNITO CLUB</a>
        </div>
    
        <div class="card">
          <img src="/images/person6.png" alt="Person 6">
          <a href="/eleven">NEON CINEMATICS CLUB</a>
        </div>
      </div>